/.idea/*
!/.idea/codeStyleSettings.xml
/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
*.iml
/bin
.classpath
.project
/.settings
*.stackdump
copybeans
log
.DS_Store
data
gatling/.idea
copygrinder.conf
.floo
.flooignore
admin
